@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Signika+Negative:wght@400;500;600;700&display=swap');
.bg-white{background: #f6eee9 ;}
.bg-teal, .btn-bg-teal{background: #ddacbb!important;}
.bg-honeysuckle, .btn-bg-honey{background: #858cbb!important;}
.bg-rose{background: #586186;}
.text-purple {color: #5a6186!important;}
.text-light-purple {color: #858cbb;}
.fa-bars {color: #586186;}
a {
  text-decoration: none;
}

.nav-link {font-size: 1.2em;}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

#features {
    color: #EBF5F7;
}

.feature a {
  color: #EBF5F7;
}

.feat-header {
    text-align: center;
    padding-bottom: 1em;
}
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    text-align: center;
}


.navbar {
    background: #ddacbb!important;
}

.navbar-brand {
  margin-right: 0!important;
  font-family: "Dancing Script", sans-serif;
  font-size: 1.8em;
}
.menu-category {
  padding-top: 1em;
}

.hero-container h1 {
  font-family: "Dancing Script", sans-serif;
  color: #586186;
  font-size: 3.5em;
}
.category a{
  text-decoration: none;
  font-weight: 800;
}

.d-grid a {
  color: #EBF5F7;
}

.category a {
  color: #586186;
}

.fa.fa-facebook-official {
  color: #858cbb;
}

.g-recaptcha {
  transform: scale(0.79);
  transform-origin: 0 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

video
{
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -50px 0 0 0 !important;
    z-index: -999999;
    opacity: 0;
}


@media only screen and (max-width: 600px) {
  .d-grid {
    display: grid; grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 3em;
  }
  .feat-item {
    padding-bottom: 1em;
    text-align: center;
  }

  .mauto {
    margin: 0 auto!important;
  }

  .img-grid {
    grid-area: 1;
  }

  .hero-grid {
    grid-template-columns: 1fr;
  }

  .hero-container h1 {
    font-size: 3em;
  }

  .navbar-brand {
    font-size: 1.3em;
  }
}