@main("About Us"){
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">About Us</h1>
                    <p class="lead fw-normal text-muted mb-4">We are an independent, Shropshire business who creates bespoke gifts for every occasion.</p>
                    <a class="btn btn-bg-honey btn-lg text-white" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-honeysuckle" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://i.imgur.com/BiFvU9W.jpg" alt="..." />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our Story</h2>
                <p class="lead fw-normal text-white mb-0">
                    What started of as a hobby, creating unique and personalised gifts for friends and family then turned into working out of a spare bedroom.
                </p>
                <p class="lead fw-normal text-white mb-0">
                    After positive response we decided to set up a workshop in our garage and launched The Little Country Crafts Facebook page to promote and sell our range of products.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <div class="fb-page" data-href="https://www.facebook.com/people/The-Little-Country-Crafts/100077572592231/" data-tabs="timeline" data-width="600" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/people/The-Little-Country-Crafts/100077572592231/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/people/The-Little-Country-Crafts/100077572592231/">The Little Country Crafts</a>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Facebook</h2>
                <p class="lead fw-normal text-muted mb-0">We Launched our <a class="black-text" href="https://www.facebook.com/people/The-Little-Country-Crafts/100077572592231/">Little Country Crafts</a> Facebook page in January 2022 to showcase our products.</p>
                <p class="lead fw-normal text-muted mb-0">We post our new designs and any promotions on our page so follow our Facebook page to see latest offers and news, and whilst you are their why not give us a like.</p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-rose">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <video width="600" height="400" controls autoplay loop>
                    <source src="https://i.imgur.com/lhSOj8Y.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our Designs</h2>
                <p class="lead fw-normal text-white mb-0">All our designs are based on a template that we upload to our computer and then using the stencil we cut the design out of the material.</p>
                <p class="lead fw-normal text-white mb-0">We can create any design from a picture or template so if there is a specific idea or design that you have in mind why not <a class="text-white" href="{% url 'contact' %}">Contact Us</a> and we will see what we can do.</p>
            </div>
        </div>
    </div>
</section>
}